* {
  box-sizing: border-box;
}

html {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.5;
  z-index: -12;
}

a {
  text-decoration: none;
}

header {
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url("../images/hero_img.png");
  position: relative;
}

#navbar {
  position: fixed;
  width: 100%;
  padding: 0.5rem 1rem 0.25rem;
  background-color: #151A1A;
  z-index: 122;
}

#logo {
  float: left;
}

.links {
  float: right;
}

.links a {
  color: #fff;
  margin-left: 1rem;
  font-weight: bold;
}

#welcome-section {
  color: #fff;
  position: absolute;
  top: 15vw;
  left: 20vh;
}

#projects {
  display: block;
  background: linear-gradient(#000, #B3D3FD);
  text-align: center;
}

h2 {
  padding-top: 4rem;
  padding-bottom: 3rem;
  color: #fff;
}

.project_container {
  display: grid;
  width: 800px;
  margin: auto;
  padding-bottom: 5rem;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
    "a . b ."
    ". c . d"
    "e . f .";
}

.project-tile {
  background-color: #fff;
}

.inner-tile {
  margin: 20px;
}

#tile1 {grid-area: a;}
#tile2 {grid-area: b;}
#tile3 {grid-area: c;}
#tile4 {grid-area: d;}
#tile5 {grid-area: e;}
#tile6 {grid-area: f;}

#contacts {
  background: linear-gradient(#B3D3FD, #000);
  text-align: center;
}

#contacts p {
  margin: 1rem 0;
}

h3, p {
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}

input {
  border-radius: 30px;
  height: 50px;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
  font-size: 0.75rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
  font-size: 0.75rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
  font-size: 0.75rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: grey;
  font-size: 0.75rem;
}

.submit_button {
  padding: 0.5rem 1rem;
  border-radius: 30px;
  background-color: #FF007D;
  color: #fff;
  margin: 1.5rem auto 1rem;
}

.social_media {
  padding: 1rem 0;
}

.social_media a:nth-child(2) {
  margin: 0 1rem;
}

footer {
  background-color: #151A1A;
}

.ft_text {
  text-align: center;
  padding: 1rem 0;
}

.ft_credits {
  font-size: 0.75rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.ft_credits a {
  color: #FF007D;
}







